@model LearningCenter.WebSite.Models.CourseModel

@{
    ViewBag.Title = "Classes";
}
<h2>@ViewBag.Title</h2>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
