@model LearningCenter.WebSite.Models.CourseViewModel

@{
    ViewBag.Title = "Classes";
}
<h2>@ViewBag.Title</h2>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td>course.Name</td>
                <td>course.Description</td>
                <td>course.Price</td>
            </tr>
        }
    </tbody>
</table>
