@model LearningCenter.WebSite.Models.CourseViewModel

@{
    ViewBag.Title = "Classes";
}
<h2>@ViewBag.Title</h2>
<table class="table">
    <thread>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => course.Name)</td>
                <td>@Html.DisplayFor(modelItem => course.Description)</td>
                <td>@Html.DisplayFor(modelItem => course.Price)</td>
            </tr>
        }
    </tbody>
</table>
