@model LearningCenter.WebSite.Models.CourseViewModel

@{
    ViewBag.Title = "Enroll in a Class";
}
<h2>@ViewBag.Title</h2>
<select class="form-control">
    @foreach (var course in Model.Courses)
    {
        <option>course.Name</option>
    }
</select>
<input type="submit" value="Add Class" />