@model LearningCenter.WebSite.Models.CourseModel

@{
    ViewBag.Title = "Enroll in a Class";
}
<h2>@ViewBag.Title</h2>
<select class="form-control">
    <option>1</option>
    <option>2</option>
</select>
<input type="submit" value="Add Class" />