<!DOCTYPE html>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    h3{
        background-color:black;
        color:grey;
    }
    .input{
        background-color:limegreen;
        color:white;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Birthday Card Generator</h3>
    <div>
        @RenderBody()
    </div>
</body>
</html>
